In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv('data/yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10.000000,2021-01-01 00:36:12.000000,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,\N
1,1,2021-01-01 00:51:20.000000,2021-01-01 00:52:19.000000,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,\N
2,1,2021-01-01 00:43:30.000000,2021-01-01 01:11:06.000000,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,\N
3,1,2021-01-01 00:15:48.000000,2021-01-01 00:31:01.000000,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,\N
4,2,2021-01-01 00:31:49.000000,2021-01-01 00:48:21.000000,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,\N

In [5]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" TEXT
)

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://airflow:airflow@localhost:5432/airflow')

In [9]:
engine.connect()

In [10]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee TEXT
)

In [12]:
df_iter = pd.read_csv('data/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [14]:
df_iter

In [15]:
df = next(df_iter)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10.000000,2021-01-01 00:36:12.000000,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,\N
1,1,2021-01-01 00:51:20.000000,2021-01-01 00:52:19.000000,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,\N
2,1,2021-01-01 00:43:30.000000,2021-01-01 01:11:06.000000,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,\N
3,1,2021-01-01 00:15:48.000000,2021-01-01 00:31:01.000000,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,\N
4,2,2021-01-01 00:31:49.000000,2021-01-01 00:48:21.000000,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,\N

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [18]:
df.head(n=0).to_sql(name='taxi_yellow_data', con=engine, if_exists='replace')

0

In [19]:
%time df.to_sql(name='taxi_yellow_data', con=engine, if_exists='append')

CPU times: user 3.88 s, sys: 80.5 ms, total: 3.96 s
Wall time: 5.78 s

1000

In [23]:
from time import time
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='taxi_yellow_data', con=engine, if_exists='append')

    t_end = time()
    print(f'another chunk inserted... took {t_end - t_start} seconds.')

another chunk inserted... took 5.845139026641846 seconds.
another chunk inserted... took 5.987514972686768 seconds.
another chunk inserted... took 5.841885805130005 seconds.
another chunk inserted... took 5.9391028881073 seconds.
another chunk inserted... took 5.914675951004028 seconds.
another chunk inserted... took 5.908451080322266 seconds.

/var/folders/8q/3jn0l2r571s39320x9v3km1c0000gn/T/ipykernel_15300/3682234164.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

another chunk inserted... took 5.994420766830444 seconds.
another chunk inserted... took 5.929823875427246 seconds.
another chunk inserted... took 6.03150486946106 seconds.
another chunk inserted... took 6.012876749038696 seconds.
another chunk inserted... took 6.1162049770355225 seconds.

/var/folders/8q/3jn0l2r571s39320x9v3km1c0000gn/T/ipykernel_15300/3682234164.py:5: DtypeWarning: Columns (3,5,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type bigint: "\N"
LINE 1: ...47'::timestamp, '2021-01-01T00:54:51'::timestamp, '\N', 15.9...
                                                             ^

[SQL: INSERT INTO taxi_yellow_data (index, "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tol ... 474788 characters truncated ... vement_surcharge__999)s, %(total_amount__999)s, %(congestion_surcharge__999)s, %(airport_fee__999)s)]
[parameters: {'VendorID__0': 1, 'trip_distance__0': 0.7, 'payment_type__0': 1, 'PULocationID__0': 166, 'extra__0': 0.5, 'congestion_surcharge__0': '0', 'mta_tax__0': 0.5, 'index__0': 1271000, 'airport_fee__0': '\\N', 'DOLocationID__0': 41, 'tpep_pickup_datetime__0': datetime.datetime(2021, 1, 31, 22, 58, 26), 'passenger_count__0': '1', 'tolls_amount__0': 0.0, 'improvement_surcharge__0': 0.3, 'tpep_dropoff_datetime__0': datetime.datetime(2021, 1, 31, 23, 3, 50), 'RatecodeID__0': '1', 'total_amount__0': 8.15, 'store_and_fwd_flag__0': 'N', 'fare_amount__0': 5.5, 'tip_amount__0': 1.35, 'VendorID__1': 1, 'trip_distance__1': 0.7, 'payment_type__1': 1, 'PULocationID__1': 230, 'extra__1': 3.0, 'congestion_surcharge__1': '2.5', 'mta_tax__1': 0.5, 'index__1': 1271001, 'airport_fee__1': '\\N', 'DOLocationID__1': 246, 'tpep_pickup_datetime__1': datetime.datetime(2021, 1, 31, 22, 14, 8), 'passenger_count__1': '0', 'tolls_amount__1': 0.0, 'improvement_surcharge__1': 0.3, 'tpep_dropoff_datetime__1': datetime.datetime(2021, 1, 31, 22, 18, 38), 'RatecodeID__1': '1', 'total_amount__1': 10.8, 'store_and_fwd_flag__1': 'N', 'fare_amount__1': 5.0, 'tip_amount__1': 2.0, 'VendorID__2': 1, 'trip_distance__2': 5.6, 'payment_type__2': 1, 'PULocationID__2': 186, 'extra__2': 3.0, 'congestion_surcharge__2': '2.5', 'mta_tax__2': 0.5, 'index__2': 1271002, 'airport_fee__2': '\\N', 'DOLocationID__2': 52 ... 19900 parameters truncated ... 'tpep_pickup_datetime__997': datetime.datetime(2021, 1, 1, 9, 51), 'passenger_count__997': '\\N', 'tolls_amount__997': 0.0, 'improvement_surcharge__997': 0.3, 'tpep_dropoff_datetime__997': datetime.datetime(2021, 1, 1, 9, 58), 'RatecodeID__997': '\\N', 'total_amount__997': 15.77, 'store_and_fwd_flag__997': '\\N', 'fare_amount__997': 12.22, 'tip_amount__997': 2.75, 'VendorID__998': 2, 'trip_distance__998': 1.68, 'payment_type__998': 0, 'PULocationID__998': 136, 'extra__998': 0.0, 'congestion_surcharge__998': '\\N', 'mta_tax__998': 0.5, 'index__998': 1271998, 'airport_fee__998': '\\N', 'DOLocationID__998': 220, 'tpep_pickup_datetime__998': datetime.datetime(2021, 1, 1, 9, 1), 'passenger_count__998': '\\N', 'tolls_amount__998': 0.0, 'improvement_surcharge__998': 0.3, 'tpep_dropoff_datetime__998': datetime.datetime(2021, 1, 1, 9, 7), 'RatecodeID__998': '\\N', 'total_amount__998': 22.61, 'store_and_fwd_flag__998': '\\N', 'fare_amount__998': 19.06, 'tip_amount__998': 2.75, 'VendorID__999': 2, 'trip_distance__999': 0.99, 'payment_type__999': 0, 'PULocationID__999': 254, 'extra__999': 0.0, 'congestion_surcharge__999': '\\N', 'mta_tax__999': 0.5, 'index__999': 1271999, 'airport_fee__999': '\\N', 'DOLocationID__999': 254, 'tpep_pickup_datetime__999': datetime.datetime(2021, 1, 1, 9, 27), 'passenger_count__999': '\\N', 'tolls_amount__999': 0.0, 'improvement_surcharge__999': 0.3, 'tpep_dropoff_datetime__999': datetime.datetime(2021, 1, 1, 9, 31), 'RatecodeID__999': '\\N', 'total_amount__999': 23.12, 'store_and_fwd_flag__999': '\\N', 'fare_amount__999': 19.57, 'tip_amount__999': 2.75}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)